<% content_for :head do %>
  <script type="text/javascript">
    history_form = new Subform('<%= escape_javascript(render(:partial => "history", :object => History.new)) %>',<%= @job_application.histories.length %>,'histories');
  </script>
<% end %>

<p>
  <%= link_to_function "Show/Hide Params", visual_effect(:toggle_blind, :params, :duration => "0.1") %>
</p>
<div id="params" style="display:none;">
  <%= debug params %>
</div>

<fieldset> 
  <legend>Personal Information</legend>
  <p><%= f.label :first_name %><br /><%= f.text_field :first_name %></p>
  <p><%= f.label :last_name %><br /><%= f.text_field :last_name %></p>
  <p><%= f.label :dob %><br /><%= f.date_select :dob %></p>
  <p><%= f.label :email %><br /><%= f.text_field :email %></p>
</fieldset>

<fieldset> 
  <legend>Address</legend>
  <%= render :partial => 'address', :object => @job_application.address %>
</fieldset>

<h3>Job History</h3>
<div id="histories"> 
    <% @job_application.histories.each_with_index do |history, index| %>
      <%= render :partial => "history", :object => history, :locals => {:index => index} %>
    <% end %>
</div> 
<p id="add-history"><%= link_to_function 'Add Job History', "history_form.add()" %></p>

